h1 {
  font-weight: bold;
  font-style: oblique;
  color: red;
}
h2{
  font-size: 35px;
  color: purple;
}
h3{
  font-size: 25px;
  color: MidnightBlue;
}
h4{
  font-size: 17px;
  color: White;
}
body{
  background-color: Black;
}
h1{
  font-size: 50px
}
